body {
    background-color: rgb(0, 255, 115);
}
        

/* Estilo header */
.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    align-items: left;
    background-color: rgb(54, 255, 255);
    border: 3px rgb(0, 179, 185) solid;
}

/* Estilo nav */
.nav {
    height: 15vh;
    width: 100vw;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    background-color: #00ffbf;
    padding: 5px;
    border: 5px solid rgba(0, 195, 255, 0.884);
    border-style: groove;
    border-radius: 10px;
}

/* Estilo aside */
.aside {
    height: 40vh;
    width: 20vw;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    border: 1px solid rgb(187, 0, 146);
    border-radius: 10px;
    background-color: #ff47d7;
    float: left;
    padding: 5px;
}

/*Estilo texto DHCP*/
.body-right {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: center;
    height: 40vh;
    width: 70vw;
    float: right;
    border-radius: 10px;
    background-color: #9bfcff;
}

/*Estilo pie de pagina*/
.footer {
    height: 10vh;
    width: 100vw;
    text-align: left;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 10px;
    background-color: lightgray;
    clear: both;
    border: 2px solid gray;
    border-radius: 15px;
}
