        body {
            background-color: rgb(114, 255, 114);
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .h1 {
            color: rgb(0, 0, 0);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            text-align: center;
        }

        .mapa{
            border-radius: 3px;   /* Bordes redondeados */
            border: 2px solid #333; /* Borde */
            display: block;
            margin: 20px auto;     /* Centrada */
        }