            table, th, td {
                border: 2px solid rgb(0, 255, 255);
                border-radius: 15px;
                border-style: outset;
            }
            th, td {
                background-color: cyan;
            }
            .apw{ font-family: sans-serif; 
                  background-color: pink;
                  color: darkgreen;
                  font-size: 20px;
                }
            .dasp{background-color: red;
            }
            .ser{background-color: lightblue;}
            .sor{background-color: violet;}
            .opt{background-color: yellowgreen;}