        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f0f2f5;
        }

        /* ----- ENCABEZADO ----- */
        header {
            background: #2c3e50;
            color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header img {
            width: 50px;
            margin-right: 10px;
        }

        .logo-zona {
            display: flex;
            align-items: center;
        }


        /* ----- NAV ----- */
        nav {
            background: #34495e;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 18px;
            letter-spacing: 1px;
        }

        /* ----- CONTENEDOR ----- */
        #contenedor {
            display: flex;
            min-height: 420px;
        }

        /* ----- ASIDE ----- */
        aside {
            width: 250px;
            background: #ecf0f1;
            padding: 15px;
            border-right: 2px solid #d0d0d0;
        }

        aside h3 {
            text-align: center;
            margin-bottom: 10px;
        }

        aside a {
            display: block;
            padding: 12px;
            margin: 10px 0;
            background: #dfe4ea;
            border-radius: 8px;
            text-decoration: none;
            color: #2d3436;
            font-weight: bold;
            text-align: center;
            border: 1px solid #b2bec3;
            cursor: pointer;
            transition: 0.2s;
        }

        aside a:hover {
            background: #b2bec3;
            transform: translateX(5px);
        }

        /* ----- MAIN ----- */
        main {
            flex: 1;
            padding: 25px;
            background: white;
        }

        main h2 {
            margin-top: 0;
        }

        /* ----- FOOTER ----- */
        footer {
            background: #2c3e50;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 14px;
        }